.navbar{
    background-color: #050d1e;
    padding-left: 500px;
    height: 80px;
}
.nav-link{
	color: #cccdd7;
    font-size: 1.0625em;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
}
.nav-link:hover{
	color: white;
}
.navbar-nav{
    margin-left: 100px;
}
.navbar-item{
    margin: 20px;
}
img{
    margin-left: 100px;
}
.xyz-img{
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;

}
.jumbotron{
    height: 700px;
   
}
h1{
    position: relative;
    left: vw;
    top: 22vh;
    
}
h4{
    position: relative;
    top: 40vh;

}
.jumbotron-text{
    font-size: 4.0625em;
    font-family: ShopifySans, Arial, Helvetica, sans-serif;
    font-weight:800; 
    letter-spacing: -0.025em ;
}